.bx{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}
.mr-1{
  margin-right: 1px;
}
.cursor-pointer{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
  justify-items: center;

}
.color-white{
  color: white;
}

.hover\:bg-primary:hover{
  background-color: rgb(0, 77, 192)!important;
}

.hover\:bg-warnning:hover{
  background-color: rgb(240, 181, 2)!important;
}
.hover\:bg-info:hover{
  background-color: rgb(1, 171, 205)!important;
}
.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}
.text-left{
  text-align: left!important;
}
.auth-form{
  width: 500px;
}
.circle-image{
  border-radius: 50%;
}